<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">

  <h2 class="text-center">Waiters</h2>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Email Address</th>
    </tr>

    <% @waiters.each do |waiter| %>
      <tr>
        <td><%= waiter.name %></td>
        <td><%= waiter.email %></td>
      </tr>
    <% end %>
  </table>

  <% if current_user.admin? %>
    <div class="text-center"><%= link_to 'Add New Waiter', new_user_registration_path, class: 'btn btn-default' %></div>
  <% end %>

  </div>

  <div class="col-lg-2">
  </div>
</div>