<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <%= render 'shared/messages' %>

    <div class="panel panel-default">

      <div class="panel-heading"><h2 class="text-center">Edit Order</h2></div>
      <div class="panel-body">

        <%= render 'form' %>
      </div>

    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>