<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
  	<br>
		<table class="table table-striped table-bordered">
			<tr>
				<td><strong>Order Description: </strong></td>
				<td><%= @order.description %></td>
			</tr>
			<tr>
				<td><strong>Order Status: </strong></td>
				<td><%= @order.status %></td>
			</tr>
			<tr>
				<td><strong>Order Delivery Time:</strong> </td>
				<td><%= @order.delivery_time %></td>
			</tr>
		</table>
	</div>
	<div class="col-lg-2">
  </div>
</div>



