<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
  	<br>
		<table class="table table-striped table-bordered">
			<tr>
				<td><strong>Item Name: </strong></td>
				<td><%= @order_item.item.name %></td>
			</tr>
			<tr>
				<td><strong>Quantity: </strong></td>
				<td><%= @order_item.quantity %></td>
			</tr>
		</table>
	</div>
	<div class="col-lg-2">
  </div>
</div>



